@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: #244a44;
}

a {
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  text-decoration: none;
}

#img__logo,
#img__logo__f {
  max-width: 200px;
}

.containerIn {
  min-height: 100vh;
  background: #163b36;
}

.containerProducto {
  padding: 5% 20px;
}

.contentCard {
  width: 1366px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  padding: 0;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
}

.seccionCard {
  position: relative;
  background: #244a44;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
}

.titleCards {
  padding: 20px;
  text-align: center;
  line-height: 1.5;
}

.seccionCard img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 20px;
}

.seccionCard h3 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 20px 0 20px;
  text-align: center;
  color: #000;
}

.card p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5;
  color: #000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(205, 255, 198, 0.9),
    rgba(164, 209, 198, 0.9),
    rgba(128, 173, 150, 0.9),
    rgba(75, 112, 96, 0.9)
  );
  border-radius: 20px;
  z-index: 1;
  opacity: 0;
  padding: 20px 40px;
  transition: all 0.4s ease-in-out;
}

.overlay:hover {
  opacity: 1;
}

.hoverLink:hover,
.hoverLink.active {
  color: #ffad33;
}

a:hover,
a.active {
  color: #111827;
}

@media screen and (max-width: 1400px) {
  #img__logo {
    max-width: 150px;
  }

  .contentCard {
    width: 866px;
    height: auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    padding: 0 0 20px 0;
  }
}

@media screen and (max-width: 1000px) {
  .containerProducto {
    padding-top: 15%;
  }

  .contentCard {
    width: 366px;
    height: auto;
    display: block;
  }
  .seccionCard {
    margin: 20px 0;
    display: block;
    align-items: center;
  }
  @media screen and (max-width: 480px) {
    #img__logo__f {
      max-width: 85px;
      height: 35px;
    }

    .containerIn {
      padding: 5px;
    }

    .contentCard {
      width: 286px;
    }
    .seccionCard h3 {
      margin: 0 0 5px;
    }
  }
}
